body{
    margin: 0
    ;padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 201, 204, 0.425);
 } 
 body div{
    width: 70%;
    background-color: rgb(228, 150, 150);
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(196, 17, 17, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: center;
    text-transform: capitalize;
 } 
 div h1{
    margin: 0 0 10px 0;
    color: rgb(34, 34, 199);
    
 }
 div input{
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    height: 25px;
    bordaer: 1px solid #ccc;
    border-radius: 5px;
 }
    div button{
        padding: 10px 20px;
        background-color: rgb(34, 34, 199);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    div button:hover{
        background-color: rgb(0, 0, 139);
    }
    div h2, div h4 {
        color: rgb(34, 34, 199);
        
    }
    div span {
        font-weight: bold;
        color: red;
    }
    div input:hover{
        background-color: aqua;


    }